@import '../../../styles/styles-variables.scss';

label {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  margin-bottom: 16px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=time],
input[type=date],
input[type=number] {
  background: white;
  border-bottom: 2px solid $color-input-disabled;
  padding: 6px 12px;
  height: 48px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
}

*:focus {
  outline: none;
}

.error {
  color: red;
  padding-left: 10px;
  font-size: 11px;
  line-height: 20px;
  text-align: left;
}

.placeholder {
  position: absolute;
  top: 12px;
  left: 12px;
  color: gray;
  background: white;
  pointer-events: none;
  font-size: 14px;
  line-height: 24px;
  transition: opacity 200ms ease-in-out, top 200ms ease-in-out, font-size 200ms ease-in-out, line-height 200ms ease-in-out;
}

.placeholder[data-hide="true"] {
  position: absolute;
  top: 4px;
  left: 12px;
  line-height: 10px;
  font-size: 10px;
  opacity: 0.6;
  background: white;
  pointer-events: none;
}

icon {    
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
}

.label[data-disable="true"] {
  input {
    pointer-events: none;
  }
}

.disabled {
  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    cursor: no-drop;
  }
}