@import '../../../styles/styles-variables.scss';

.logo {
    background-image: url('../../../assets/logo.png');
    width: 115px;
    height: calc(100% - 20px);
    margin-top: 10px;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
}

.singInBtn-hol {
    height: 100%;

    .singInBtn {
        color: white;
        display: table;
        height: 100%;

        .singInBtn2 {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
        }

        button {
            margin: 0;
        }
    }
}

.block {
    height: 100%;

    * {
        display: inline-block;
        vertical-align: top;
    }
}
.navigation-holder {
    width: calc(100% - 115px - 124px);
    height: 100%;

    .navigation {
        height: 100%;
        display: table; 
        margin: 0 auto;

        a {
            color: white;
            padding: 10px;
            display: table-cell;
            vertical-align: middle;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: rgba(255,255,255,0.1);
            }
        }
    }
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
    transition: height 0.4s ease-in-out;

    .block_holder {
        height: 100%;
    }

    &.small {
        height: 60px;
    }
}