<div class="header view-container">
    <div class="block_holder special">
        <div class="block">
            <div class="three_equals">
                <div>
                    <div class="logo"></div>
                </div>

                <div class="header_text">
                    <div class="center">
                        <p class="font_caps">
                            {{ 'changeYourLife' | translate }}
                        </p>

                        <p>
                            {{ 'youDeserveToBePretty' | translate }}
                        </p>
                    </div>

                    <div class="goBottom center">
                        <p>
                            {{ 'phone' | translate }}
                        </p>

                        <p>
                            {{ 'address' | translate }}
                        </p>

                        <button class="noBody">
                            {{ 'tryForFree' | translate }}
                        </button>

                        <button class="noBody">
                            {{ 'contactWithCoach' | translate }}
                        </button>
                    </div>
                </div>

                <div>
                    <div class="coach_foto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
