@import '../../../styles/styles-variables.scss';

.logo {
    background-image: url('../../../assets/logo.jpg');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
}

.coach_foto {
    background-image: url('../../../assets/studenetskiy.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center -120px;
    background-repeat: no-repeat;
}

p.font_caps {
    font-size: 25px; 
    text-transform: uppercase;
    margin: 15px 0;
}

.block {
    p {
        color: white
    }
}

.header_text {
    height: 370px;
}

.three_equals {
    height: 370px;

    > div {
        position: relative;
        height: 100%;
    }
}

.goBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.center {
    text-align: center;
}