<div class="header view-container" [ngClass]="{'small': microHeader}">
    <div class="block_holder micro dark">
        <div class="block micro">                    
            <div class="logo"></div>

            <div class="navigation-holder">
                <div class="navigation">
                    <a>{{ 'nav-trainer' | translate }}</a>
                    <a>{{ 'nav-train' | translate }}</a>
                    <a>{{ 'nav-result' | translate }}</a>
                    <a>{{ 'nav-reviews' | translate }}</a>
                    <a>{{ 'nav-contacts' | translate }}</a>
                </div>
            </div>

            <div class="singInBtn-hol">
                <div class="singInBtn">
                    <div class="singInBtn2">
                        <button>
                            {{ 'signUpToTraining' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
