<!-- promotion -->
<div class="block_holder">
    <div class="block">
        <div class="right_bigger">
            <div>
                <div class="promotion_foto"></div>
            </div>

            <div>
                <div class="numbered_block">
                    <div class="number">1</div>
                    <p class="content">
                        {{ 'choseHowToTrain' | translate }}
                        <!--TODO-->
                    </p>
                </div>

                <div class="numbered_block">
                    <div class="number">2</div>
                    <p class="content">
                        {{ 'describeYourGoals' | translate }}
                        <!--TODO-->
                    </p>
                </div>

                <div class="numbered_block">
                    <div class="number">3</div>
                    <p class="content">
                        {{ 'comeForFree' | translate }}
                    </p>
                </div>
            </div>
        </div>
        
        <button>
            {{ 'tryForFree' | translate }}
        </button>
    </div>
</div>

<!-- video -->
<div class="block_holder">
    <div class="block">
        <div class="video">
            <!-- TODO -->
        </div>

        <p class="font_standalone">
            {{ 'mondayHaveCome' | translate }}
        </p>

        <p class="font_standalone">
            {{ 'startYouActionRightNow' | translate }}
        </p>

        <button>
            {{ 'tryForFree' | translate }}
        </button>
    </div>
</div>

<!-- beforeAfter -->
<div class="block_holder">
    <div class="block">
        <p class="font_standalone">
            {{ 'thayHaveTryAlready' | translate }}
        </p>

        <div class="carusel">
            <npCarusel [imgs]="beforeAfterList"></npCarusel>
        </div>

        <p class="font_standalone">
            {{ 'youCanDoSame' | translate }}
        </p>

        <button>
            {{ 'tryForFree' | translate }}
        </button>
    </div>
</div>

<!-- responses -->
<div class="block_holder">
    <div class="block">
        <p class="font_header">
            {{ 'responses' | translate }}
        </p>
        
        <!-- TODO -->
    </div>
</div>

<!-- contacts -->
<div class="block_holder">
    <div class="block">
        <p class="font_header">
            {{ 'contacts' | translate }}
        </p>

        <div class="contact_block">
            <p>
                {{ 'coachName' | translate }}
            </p>

            <p>
                {{ 'telephone' | translate }}
            </p>

            <p>
                {{ 'socials' | translate }}
            </p>
        </div>
    </div>
</div>
